
input {
  width: 100%;
  border: 0.5px solid violet;
}
::placeholder {
  color: blueviolet;
}
input[type="date"] {
  color: blueviolet;
}

.ms-button {
  min-width: 80px;
}
.ms-row {
  margin: 10px 5px;
}
